.popUpInside {
  width: fit-content;
  margin: 0 auto;
  padding: 30px;
}

.popUpBlock {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.popUp {
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 650px;
  background: #080E24 url(./../../images/pop-up-background.png) no-repeat top right / auto 255px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.hr {
  display: block;
  height: 8px;
}

.text {
  font-family: 'Bitter', serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
